@inject GameService GameService

<h3>Namen eingeben</h3>
<p>
    Bitte gib deinen Namen ein, damit wir dich erkennen können.
</p>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Name" @bind="name" />
    <button type="button" class="btn btn-primary my-2" @onclick="async () => await JoinGameAsync()">Teilnehmen</button>
</div>


@code {
    [Parameter]
    public Game Game { get; set; } = null!;

    [Parameter]
    public Player? Player { get; set; } = null;

    [Parameter]
    public EventCallback<Player> PlayerChanged { get; set; }

    private string name = string.Empty;

    private async Task JoinGameAsync()
    {
        var player = new Player() { Name = name };
        Game.Join(player);
        await PlayerChanged.InvokeAsync(player);
    }
}
