@inject GameService GameService

<h3>Spiel beitreten</h3>
<p>
    Um mitzumachen, brauchst du einen Spielschlüssel von deinem Spielleiter.
</p>
<div class="alert alert-warning @(showAlert ? "" : "d-none")" role="alert">
    Ungültiger Spielschlüssel!
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Schlüssel" @bind="GameKey" />
    <button type="button" class="btn btn-primary my-2" @onclick="async () => await LoadGameAsync()">Spiel finden</button>
</div>

@code {
    /// <summary>
    /// If already known, the game key can be passed in directly.
    /// This is for future use if we want to add routes with included game keys.
    /// </summary>
    [Parameter]
    public string? GameKey { get; set; } = null;

    [Parameter]
    public Game? Game { get; set; } = null;

    [Parameter]
    public EventCallback<Game> GameChanged { get; set; }

    private bool showAlert = false;

    protected override async Task OnInitializedAsync()
    {
        if (GameKey != null)
        {
            await LoadGameAsync();
        }
    }

    private async Task LoadGameAsync()
    {
        if (!string.IsNullOrEmpty(GameKey)
            && GameService.TryFindGame(GameKey, out Game loadedGame))
        {
            await GameChanged.InvokeAsync(loadedGame);
        }
        else
        {
            showAlert = true;
        }
    }
}
