@inject GameService GameService

<h3>Spiel anlegen</h3>
<p>Spielleiter können mit dem richtigen Kennwort neue Spiele starten.</p>
<input type="password" class="form-control" placeholder="Spielleiter-Kennwort" @bind="passwordProvided" />
<button class="btn btn-primary" type="button" @onclick="HostGame">Starten</button>

@code {
    [Parameter]
    public Game? Game { get; set; } = null;

    [Parameter]
    public EventCallback<Game> GameChanged { get; set; }

    private readonly string password = "rab1920";
    private string passwordProvided = string.Empty;

    private async Task HostGame()
    {
        if (password == passwordProvided)
        {
            await GameChanged.InvokeAsync(GameService.HostNewGame());
        }
    }
}
