@inject GameService GameService

<h3>Spiel anlegen</h3>
<p>Spielleiter können mit dem richtigen Kennwort neue Spiele starten.</p>

<div class="alert alert-warning @(showAlert ? "" : "d-none")" role="alert">
    Falsches Spielleiter-Kennwort!
</div>

<div class="form-group">
    <input type="password" class="form-control" placeholder="Spielleiter-Kennwort" @bind="passwordProvided" />
    <button class="btn btn-primary my-2" type="button" @onclick="HostGame">Starten</button>
</div>

@code {
    [Parameter]
    public Game? Game { get; set; } = null;

    [Parameter]
    public EventCallback<Game> GameChanged { get; set; }

    private bool showAlert = false;
    private readonly string password = "rab1920";
    private string passwordProvided = string.Empty;

    private async Task HostGame()
    {
        if (password == passwordProvided)
        {
            await GameChanged.InvokeAsync(GameService.HostNewGame());
        }
        else
        {
            showAlert = true;
            passwordProvided = string.Empty;
        }
    }
}
