@page "/host"

@inject GameService GameService

<h1>Spiel leiten</h1>

@if (game == null)
{
    <HostNewGame @bind-Game="game" />
}
else
{
    if (game.Status == GameStatus.PlayersJoining)
    {
        <WaitForPlayers Game="game" DoneCallback="UpdateView" />
    }
    if (game.Status == GameStatus.PersonaAssignment)
    {
        <WaitForPersonas Game="game" DoneCallback="UpdateView" />
    }
    if (game.Status == GameStatus.Playing)
    {
        <ShowPersonas Game="game" Player="new Player()" />
    }
}


@code {
    private Game? game = null;

    public void HostGame()
    {
        game = GameService.HostNewGame();
    }

    private void UpdateView()
    {
        StateHasChanged();
    }
}