@page "/"

<h1>Wer bin ich?</h1>

<div class="row">
    
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Mitspieler</h3>
                <p class="card-text">
                    Tritt einem Spiel bei und rate selbst mit.
                </p>
                <a href="/play" class="btn btn-primary">Mitspielen</a>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Spielleiter</h3>
                <p class="card-text">
                    Leite ein Spiel und lade Mitspieler ein.
                </p>
                <a href="/host" class="btn btn-primary">Spiel erstellen</a>
            </div>
        </div>
    </div>

</div>

