@page "/play"

@inject GameService GameService

<h1>Mitspielen</h1>

@* User is not in any game yet. *@
@if (game == null)
{
    <FindGame @bind-Game="game" />
}
@* User has found an open game but has not joined yet. *@
else if (player == null && game.Status == GameStatus.PlayersJoining)
{
    <AddPlayer Game="game" @bind-Player="player" />
}
@* User has found an open game and has joined. *@
else if (player != null && game.Status == GameStatus.PlayersJoining)
{
    <h3>Hallo @player.Name!</h3>
    <p>Einen Moment noch, bis alle da sind... gleich geht es los.</p>
}
@* Game has been closed for joining and moved to persona assignment. *@
else if (game.Status == GameStatus.PersonaAssignment)
{
    <h3>Charakter zuweisen</h3>
    <p>Du darfst {} einen Charakter zuweisen, den er/sie dann erraten muss. Wer soll es sein?</p>
}
@* Game has been started. *@
else if (game.Status == GameStatus.Playing)
{

}

@code {
    private Game? game = null;
    private Player? player = null;

}