@page "/play"

@inject GameService GameService

<h1>Mitspielen</h1>

@* User is not in any game yet. *@
@if (game == null)
{
    <FindGame @bind-Game="game" />
}
@* User has found an open game but has not joined yet. *@
else if (player == null)
{
    @* User can only join if the game is in the joining phase. *@
    @if (game.Status == GameStatus.PlayersJoining)
    {
        <AddPlayer Game="game" @bind-Player="player" />
    }
    else
    {
        <h3>Spiel bereits gestartet</h3>
        <p>Dein Schlüssel ist korrekt, aber du kannst diesem Spiel nicht mehr beitreten.</p>
        <button class="btn btn-primary" @onclick="Reset">Neu starten</button>
    }
}
@* User has found an open game and has joined as a player. *@
else if (game.Status == GameStatus.PlayersJoining)
{
    <WaitForStart Player="player" Game="game" ContinueCallback="UpdateView" />
}
@* Game has been closed for joining and moved to persona assignment. *@
else if (game.Status == GameStatus.PersonaAssignment)
{
    <AssignPersonaToPlayer Game="game" Player="player" ContinueCallback="UpdateView" />
}
@* Game has been started. *@
else if (game.Status == GameStatus.Playing)
{
    <ShowPersonas Game="game" Player="player" />
}

@code {
    private Game? game = null;
    private Player? player = null;

    private void Reset()
    {
        game = null;
        player = null;
        StateHasChanged();
    }

    private void UpdateView()
    {
        StateHasChanged();
    }
}